html,
.menu {
    font-family: "Calibri";
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    min-height: 10px;
    width: 250px;
}

.logo {
    margin: 0;
}
.logoText {
    font-size: 20px;
    float: left;
    margin: 4px 0px 0px 10px;
}
.logoImg {
    float: left;
}

.pause {
    margin: 0px 0px 0px 55px;
}

.buttons {
    border-style: none;
    padding: 0;
    background-color: white;
}

#tooltip {
    display: none;
}