html,
.menu {
    font-family: "Calibri";
    background-color: rgb(57,58,58);
    color: rgb(252,247,247);
    min-height: 90px;
    width: 300px;
}

.logo {
    margin: 0;
}
.logoText {
    font-size: 22px
}
.logo>span {
    position:relative;
    top: -16px;
    left: 10px;
}

.menuSep {
    display:block;
    height: 2px;
    background-color: rgb(37,38,38);
}

.menuOpt {
    white-space: nowrap;
}

.menuOpt>button {
    font-family: "Arial";
    display: inline-block;
    margin: 5px 0px 5px 5px;
    font-size: 14px;
    width: 90px;
    border:1px solid black;
}

.menuOpt>div:hover {
    color: rgb(222,70,70);
}

.LightMode {
    color:black;
    background-color: black;
}